<!DOCTYPE html>
<html lang='en'>

<head>
	<link rel='stylesheet' type='text/css' href='style.css'>
	<meta charset='utf-8'>
	<title>Exercise 2</title>
</head>
<body>
<div class="left" id="first">
	here is the div nummber 1
	<div class="left" id="third">
	<p>
		here is the paragraph in the div nummber 3
		<h3>
			here is the the header number 3
		</h3>
		<<span>
			here is span in the paragraph of div nummber 3
		</span>
	</p>
	<<span>
		here is span in div nummber 3
	</span>
</div>
<div class="left" id="fourth">
	here is the div nummber 4
	<h1>
	here is the the header number 1	
	</h1>
</div>
</div>
<div class="right" id="second">
	here  div nummber 2
	<div class="right" id="fifth">
		here is div nummber 5
		<p>
				here is the paragraph in the div nummber 5
		</p>
</div>	
<div class="right" id="sixth">
	here is div nummber 6
	<img src="https://media.giphy.com/media/OJw4CDbtu0jde/source.gif" alt="Titanic" with="50" height="100">
</div>	
</div>	

</body>
</html>